header {
    @include flex("", center, "");
}

.burger:hover, .burgerClose:hover {
    .border1::before {
        @include border(0px, "", -2px, "", 8px, 8px, 3px, "", 3px, "");
    }

    .border1::after {
        @include border(0px, "", "", -2px, 8px, 8px, 3px, "", "", 3px);
    }

    .border2::before {
        @include border(42px, "", -2px, "", 8px, 8px, "", 3px, 3px, "");
    }

    .border2::after {
        @include border(42px, "", "", -2px, 8px, 8px, "", 3px, "", 3px);
    }
}

.burger {
    cursor: pointer;
    position: absolute;
    @include flex("", center, center);
    width: 50px;
    height: 50px;
    top: 1rem;
    right: 1rem;

    .bars {
        position: absolute;
        width: 30px;
        height: 5px;
        background-color: $white;
        transition: all 0.3s ease-in-out;
    }
    
    .bars::before, .bars::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 5px;
        background-color: $white;        
        transition: all 0.3s ease-in-out;  
    }

    .bars::before {
        transform: translateY(-10px);
    }

    .bars::after {
        transform: translateY(10px);
    }   
}

.burgerClose:hover {
    .bars2::before {
        @include border(0px, "", -2px, "", 8px, 8px, 3px, "", 3px, "");
    }

    .bars2::after {
        @include border(0px, "", "", -2px, 8px, 8px, 3px, "", "", 3px);
    }

    .bars3::before {
        @include border(42px, "", -2px, "", 8px, 8px, "", 3px, 3px, "");
    }

    .bars3::after {
        @include border(42px, "", "", -2px, 8px, 8px, "", 3px, "", 3px);
    }
}

.burgerClose {
    cursor: pointer;
    position: absolute;
    @include flex("", center, center);
    width: 50px;
    height: 50px;
    top: 1rem;
    left: 1rem;

    .border3 {
        display: inline-block;
        position: absolute;
        transform: rotate(45deg);
        width: 35px;
        height: 6px;
        background-color: $white;
    }
    
    .border4 {
        display: inline-block;
        position: absolute;
        transform: rotate(-45deg);
        width: 35px;
        height: 6px;
        background-color: $white;
    }
}

.menu-mobile {
    background-color: #333;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 100%;
    padding-top: 12rem;
    transition: all 0.5s ease-in-out;
}

.logo {
    cursor: pointer;
    width: 55px;
    position: absolute;
    transform: translateX(-50%);
    top: 1rem;
    left: 3rem;
    transition: all 0.2s ease;

    .st0 {
        fill: $white;
    }

    .st1 {
        fill: $yellow;
    }
    
    .st2 {
        fill: #333;
    }
}

.logo:hover {
    .st0 {
        animation: logoAnimation .5s ease-in-out;
    }

    .st1 {
        animation: logoAnimation .5s 0.5s ease-in-out;
    }
    
    .st2 {
        animation: logoAnimation .5s 1s ease-in-out;
    }
}

#menu {
    @include flex(column, space-between, center);
    height: 10vh;

    .leftDiv {
        @include flex(column, "", "");
        font-size: 1.50rem;
        text-align: center;

        a {
            position: relative;
            text-decoration: none;
            color: $white;
            padding: 1rem;
        }

        a:hover {
            color: $yellow;
        }

        span:first-child:before {
            @include border(23px, "", 14px, "", 8px, 8px, 2px, "", 2px, "");
            transition: 0.2s;
            opacity: 0;
        }

        a:hover span:first-child:before {
            top: unset;
            left: 8px;
            opacity: 1;
        }
    
        span:first-child::after {
            @include border(23px, "", "", 14px, 8px, 8px, 2px, "", "", 2px);
            transition: 0.2s;
            opacity: 0;
        }

        a:hover span:first-child:after {
            top: unset;
            right: 8px;
            opacity: 1;
        }
    
        span:last-child:before {
            @include border(39px, "", 14px, "", 8px, 8px, "", 2px, 2px, "");
            transition: 0.2s;
            opacity: 0;
        }

        a:hover span:last-child:before {
            top: 47px;
            left: 8px;
            opacity: 1;
        }
    
        span:last-child::after {
            @include border(39px, "", "", 14px, 8px, 8px, "", 2px, "", 2px);
            transition: 0.2s;
            opacity: 0;
        }

        a:hover span:last-child:after {
            top: 47px;
            right: 8px;
            opacity: 1;
        }
    }

    .rightDiv {
        padding-top: 5rem;

        .mobile {
            all: unset;
            text-decoration: none;
            .fab {
                transform: scale(4);
                margin: auto 2rem;
                
                &:hover {
                    color: $yellow;
                }
            }
        }
    
        .desktop {
            display: none;
        }
    }
}

/*--------------------------------------------------------- TABLET --------------------------------------------------------- */  
@media screen and (min-width: 768px) {
    header {
        @include flex(column, center, "");
        transition: all 0.5s;
        // opacity: 0;

        // &:hover {
        //     opacity: 1;
        // }
    }

    #btnBurger {
        display: none;
    }

    .burger {
        display: none;
    }

    .burgerClose {
        display: none;
    }

    .menu-mobile {
        all: unset;
    }

    .logo {
        left: 50%;
    }

    #menu {
        @include flex(row, space-between, center);
        
        .leftDiv {
            font-size: 1rem;
            display: block;
            padding-left: 4rem;

            span:first-child:before {
                top: 14px;
            }
        
            span:first-child::after {
                top: 14px;
            }
        
            span:last-child:before {
                top: 30px;
            }
    
            a:hover span:last-child:before {
                top: 34px;
            }
        
            span:last-child::after {
                top: 30px;
            }
    
            a:hover span:last-child:after {
                top: 34px;
            }
        }

        .rightDiv {
            display: block;
            padding-right: 4rem;
            padding-top: unset;

            .mobile {
                display: none;
            }

            .desktop {
                display: inline-block;
                position: relative;
                text-decoration: none;
                color: $white;
                padding: 1rem;
                padding-left: 2rem;
                padding-right: 2rem;
            }

            .desktop:hover {
                color: $yellow;
            }

            span:first-child:before {
                @include border(14px, "", 14px, "", 8px, 8px, 2px, "", 2px, "");
                transition: 0.2s;
                opacity: 0;
            }
    
            .desktop:hover span:first-child:before {
                top: unset;
                left: 8px;
                opacity: 1;
            }
        
            span:first-child::after {
                @include border(14px, "", "", 14px, 8px, 8px, 2px, "", "", 2px);
                transition: 0.2s;
                opacity: 0;
            }
    
            .desktop:hover span:first-child:after {
                top: unset;
                right: 8px;
                opacity: 1;
            }
        
            span:last-child:before {
                @include border(30px, "", 14px, "", 8px, 8px, "", 2px, 2px, "");
                transition: 0.2s;
                opacity: 0;
            }
    
            .desktop:hover span:last-child:before {
                top: 34px;
                left: 8px;
                opacity: 1;
            }
        
            span:last-child::after {
                @include border(30px, "", "", 14px, 8px, 8px, "", 2px, "", 2px);
                transition: 0.2s;
                opacity: 0;
            }
    
            .desktop:hover span:last-child:after {
                top: 34px;
                right: 8px;
                opacity: 1;
            }
        }
    }
}